:root {
    --primary-text-color: #757575; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primaty-bg-color: #FFFFFF}
body {font-family: 'Roboto'; color: var(--primary-text-color); background-color: var(--primaty-bg-color);}
* {list-style: none;}

/* Логотип */
.header-logo {font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000}
.logo-web {color: #2196F3;}

/* Хэдер список+контакты */
.header-nav .list {font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #000000;}
.link {color: #000000;}
.header-nav .link.current {color: var(--accent-color)}
.link:hover, .link:focus {color: var(--accent-color);}
.header-contancts-links {font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;}
.header-contancts-links:hover, .header-contancts-links:focus {color: var(--accent-color);}

/* Hero */
.section-hero {background: #2F303A;}
.hero-title {font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}
/* Button */
.hero-button {font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primaty-bg-color);
    background-color: var(--accent-color);}

/* Тайтл секций */
.section-title {font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);}

    /* Особенности */
.features-title {font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);}
.features-text {font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)}

    /* Наша команда */
.team-list .team-title {font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);}
.team-job {font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)}

/* Footer */
.footer {background: #2F303A;}
.footer-logo-studio {color: var(--primaty-bg-color);}
.map {font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primaty-bg-color)}
.footer-contacts {font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}


/* Filter Buttons */
.filter-button.main {font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;}
.filter-button:hover, .filter-button:focus {
    color: var(--primaty-bg-color);
    background-color: var(--accent-color);}

/* Porfolio */
.portfolio-title {font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-text-color)}
.portfolio-text {font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)}