/* цвет основного текста #212121 */ 
/* другорядний колір #757575 */ 
/* синій колір #2196F3 */ 
/* adress color contants rgba(255, 255, 255, 0.6) */ 
/* white color #FFFFFF */ 
/* button color background: #2196F3; */
/* secondary background: #F5F4FA */

body {font-family: 'Roboto'; color: #212121; background-color: #E5E5E5;}
.site-link {font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;}
.logo-web {color: #2196F3;}
.logo-studio {color:#000000;}